*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --background-color: #FFFF;
    --background-color-light: #F8F9FA;

    --text-color: #212529;
    --text-color-light: #495057;
    --text-color-lighter: #6C757D;

    --accent-color: #FFA500;
    --accent-color-hover: #FFA500;

    --card-back: #F5F5F5;
    --card-back-hover: #E9ECEF;
    --card-text: #212529;
    --card-text-hover: #495057;
    --card-border: #CED4DA;
    --card-border-hover: #ADB5BD;
    --card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



html {
    font-size: 62.5%;
    font-family: 'bangers', cursive;
}


body{
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--card-back);
    color: var(--text-color);
    font-family: 'bangers', cursive;
}

span{
    flex-grow: 1;
    grid-column: span 2;
}

.cont{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

section{
    margin: 5rem auto;
    width: 90%;
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content{
    max-width: 500px;
    height: 250px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--card-back);
    padding: 1rem 2rem;
    gap: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content div.border{
    border-top: 1px solid var(--text-color-lighter);
    border-bottom: 1px solid var(--text-color-lighter);
}


.modal-content .text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'inter', sans-serif;
    font-size: 1.5rem;
    /* flex-grow: 1; */
}

.modal-content .text p{
    text-align: center;
}

.modal-content .modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 2rem; */
}

.modal-content .modal-header h2{
    font-size: 3rem;
}

.modal-content .modal-header i{
    color: var(--text-color);
    font-size: 2.5rem;
    cursor: pointer;
}

.modal-content .modal-header i:hover{
    color: var(--accent-color);
}


.modal-content .modal-actions{
    display: flex;
    align-items: center;
    justify-content: end;
    /* justify-content: space-between; */
    gap: 1rem;
}

.btn{
    height: min-content;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--text-color);
    cursor: pointer;
}

.btn:hover{
    background-color: var(--accent-color-hover);
}



.week > .week-nav{
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.week > .current-week{
    width: 100px;
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
    float: right;
    text-align: center;
}

.week > i{
    font-size: 2rem;
    cursor: pointer;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-color);
}

.week > i:hover{
    color: var(--accent-color-hover);
}

.week > h1{
    font-size: 3rem;
    font-weight: 700;
    /* margin-bottom: 1rem; */
}

