header{
    /* background-image: url('https://placeholder.pics/svg/300'); */
    height: 600px;
    color: var(--text-color-light);
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-repeat: no-repeat;
    background-size: cover;
}

header div{
    background-color: var(--background-color-light);
    padding: 1em;
    margin-bottom: 5rem;
    border-radius: 10px;
}

header div h1{
    font-size: 5rem;
    margin-bottom: 1rem;
}


.intro{
    max-width: 60%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.intro div h2{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.intro div p{
    font-family: 'inter';
    font-size: 1.8rem;
    line-height: 1.6;
}

.sporten h2{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.sporten > .wraper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sporten > .wraper > div{
    background-color: var(--background-color-light);
    padding: 1em;
    border-radius: 10px;
    /* width: 30%; */
}

.sporten > .wraper > div h3{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sporten > .wraper > div p{
    font-family: 'inter';
    /* font-size: 1.6rem; */
    /* line-height: 1.6; */
}

.sporten > .wraper > div img{
    /* width: 300px; */
    /* height: 250px; */
    width: 100%;
    border-radius: 10px;
}


.price > .wraper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem 2.5rem;
}
