.logo{
    font-family: 'bangers', cursive;
    font-size: 4rem;
    color: var(--accent-color);
}

.nav a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'inter', sans-serif;
    font-size: 1.4rem;
    text-align: end;
}

.nav{
    position: sticky;
    top: 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 1.5rem;
    gap: 5rem;
    background-color: var(--background-color);
}

#hamburger-menu{
    display: none;
}

.nav-links-cont{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;

}

.nav-links{
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 768px){
    .nav-links-cont{
        display: none;
    }

    #hamburger-menu{
        display: block;
    }

    .nav-links{
        display: none;
    }

    .nav-mobile{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .hamburger-menu{
        font-size: 2.5rem;
        color: var(--text-color);
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}


footer{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0 1rem;
    font-family: 'inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    text-align: center;
    font-size: 1.5rem;
} 